<div class="sidebar">
  <div class="logo">My Aunt's Basement</div>
  <nav>
    <a href="/">Homepage</a>
    <a href="/">My other projects</a>
    <a href="/">What is this site about?</a>
  </nav>
  <ul class="contact">
    <li aria-label="My e-mail address">
      <img src="/assets/icons/mail_24.png" />
      <a href="mailto:lucasbortolisantos@gmail.com">
        lucasbortolisantos@gmail.com
      </a>
    </li>
    <li aria-label="My GitHub page">
      <img src="/assets/icons/github_24.png" />
      <a href="https://github.com/lucas-bortoli">lucas-bortoli</a>
    </li>
  </ul>
  <section aria-roledescription="Contact information"></section>
  <p class="copyright">
    Copyright © [=`new Date().getFullYear()`]
    <br />
    Lucas Vinicius de Bortoli Santos
    <br />
    All rights reserved.
  </p>
</div>
