.article-list {
  list-style: none;
  padding: 0;
}

.article-card-link:hover {
  text-decoration: none;
}

.article-card {
  padding: 1rem;
  border: 1px solid var(--color-text-secondary);
  color: var(--color-text);
  background-color: white;
  transform: translateY(0);
  transition: background-color, transform;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

.article-card:hover {
  transform: translateY(5px);
  background-color: var(--color-primary);
}

.article-card * {
  margin: 0;
}

.article-card:hover {
  border-color: var(--color-link);
}

.article-card .title {
  font-family: "Bebas Neue";
  font-size: 2rem;
  line-height: 1;
}

.article-card .information {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
